footer.white.bg-black
  .px2.py3.container
    .clearfix.mxn2
      .col.col-4.px3
        h3.mt0.pt0.font-title BB BLUES FEST
        p.font-text.h6!=md.renderInline(__("textParceria"))
        .container
            a.h5.btn.col.col-6(href="https://www.facebook.com/Bbbluesfest")
              .table
                img.table-cell.align-middle(src="/images/facebook.png").mr1
                .table-cell.align-middle=__("BBBF")
            a.h5.btn.col.col-6(href="https://www.facebook.com/BB-BLUES-Portugal-1846946582228066")
              .table
                img.table-cell.align-middle(src="/images/facebook.png").mr1
                .table-cell.align-middle=__("BBBP")
        .container
            a.h5.btn.col.col-6(href="https://www.instagram.com/bbbluesportugal/")
              .table
                img.table-cell.align-middle(src="/images/instagram.png").mr1
                .table-cell.align-middle INSTA
            a.h5.btn.col.col-6(href="https://youtube.com/channel/UCv-LKLXWxaDVP9opo-AjghA")
              .table
                img.table-cell.align-middle(src="/images/youtube.png").mr1
                .table-cell.align-middle YTUBE
      .col.col-8.px3.border-bbbf
        h3.m0.mb1.font-title=__("ORGANIZAÇÃO E MEDIA")
        .container
          a.col.col-4.px1(href="http://media.rtp.pt/antena3/")
            img(src="/images/logo-media.png")
          .col.col-2.px1
            img(src="/images/logo-bbbp.png")
          a.col.col-4.px1(href="http://www.cm-moita.pt/")
            img(src="/images/logo-cmm.png")
          a.col.col-2.px1(href="http://www.ufbbva.pt/modules/news/")
            img(src="/images/logo-bb.png")
        h3.m0.mb1.font-title.col-8=__("APOIO")
        .container
          a.col.col-8.px1.ml2(href="http://www.castanheira-somusica.com/")
            img(src="/images/castanheira-logo.png")
  p.center.h6.mb0.font-text
    | &copy; 2021 Associação BB Blues Portugal
