nav.clearfix.bg-bbbf-blue
  .sm-col
      a.btn.py2(href="/#{languageCode}")= __("Novidades")
      a.btn.py2(href="/#{languageCode}/programa")= __("Programa")
      a.btn.py2(href="/#{languageCode}/historico")= __("Histórico")

nav.fixed.top-0.right-0.white.bg-black.muted-less
  .sm-col
      div
          a.btn.py2(href="/#{languageCode}/")
            img(src="/images/logobbbf-dark-small.png" height="64px")
      div
          a.btn(href="/#{languageCode}/bilhetes") Bilhetes
      div
          a.btn Como Chegar
      div
          a.btn Informações Úteis
      div
          a.btn.py2(href="/pt/") pt
          span.py2 |
          a.btn.py2(href="/en/") en
          span.py2 |
          a.btn.py2(href="/es/") es
