nav.clearfix.bg-black
  .sm-col
      a.btn.py2(href="/"+languageCode)
        img(src="/images/logo-white.png")
  .sm-col-right.mt3.font-title.white.caps
      a.btn.py2(href="/"+languageCode)= __("Início")
      a.btn.py2(href="/"+languageCode+"/programa")= __("Programa")
      a.btn(href="/"+languageCode+"/bilhetes")= __("Bilhetes")
      a.btn.py2(href="/"+languageCode+"/local")= __("Info Útil")
      // a.btn.py2 Info
      a.btn.py2(href="/"+languageCode+"/historico")= __("Histórico")
      a.btn(href="/"+languageCode+"/covid")= __("Covid")
