nav.clearfix.bg-bbbf-blue
  .sm-col
      a.btn.py2(href="/#{languageCode}")
        img(src="/images/logo.png")
  .sm-col-right.mt3
      a.btn.py2(href="/#{languageCode}")= __("Novidades")
      a.btn.py2(href="/#{languageCode}/programa")= __("Programa")
      a.btn.py2 Como Chegar
      a.btn.py2 Info
      a.btn.py2(href="/#{languageCode}/historico")= __("Histórico")
      a.btn(href="/#{languageCode}/bilhetes") Bilhetes
