doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-bbbf-black
    include ./includes/top-nav.jade

    div.my-slider
      ul
        each band in header
          li
            a(href="/bandas/" + band.slug)
              .sixteen-nine
                header.content.center.px3.py4.white.bg-black.bg-cover(style="background-image: url(/images/bandas/" + band.banner +")")
                  h1.h2.h0-responsive.caps.mt4.mb0.regular=band.name
                  h1.h2.h0-responsive.caps.mt3.mb0.regular=band.date + " " +band.time
                  h1.h3.h0-responsive.caps.mt1.mb0.regular=band.venue

    section.container.px2.py3.bg-white
      .clearfix.mxn2
        each post in news
            .sm-col.sm-col-4.px2
              a(href="/news/" + post.id)
                h2.h1.mb0=post.title
              img(src="/images/news/" + post.pic)
              p=post.body

    include ./includes/footer.jade
