doctype html
html(lang="en")
  include ./includes/head.pug
  body.container.bg-black
    include ./includes/top-nav.pug

    section.bg-bbbf-blue.py3.px4
      .pr4
      table.border-bottom-dotted.pb4
        tr
          td.pl3.align-top(style="width:20%")
            .day=bands[0].dia+"."
          td.align.top.pt3.pl0
            .h2.font-title
              span.white=bands[0].time
              span=" - " + bands[0].venue.toUpperCase()
            .h1.font-title
              a.link-black(href="/bandas/"+bands[0].slug)=bands[0].name.toUpperCase()
        tr
          td.pl3.align-top(style="width:15%")
            .day=bands[1].dia+"."
          td.align.top.pt3.pl0
            .h2.font-title
              span.white=bands[1].time
              span=" - " + bands[1].venue.toUpperCase()
            .h1.font-title.mb2
              a.link-black(href="/bandas/"+bands[1].slug)=bands[1].name.toUpperCase()
            .h2.font-title
              span.white=bands[2].time
              span=" - " + bands[2].venue.toUpperCase()
            .h1.font-title.mb2
              a.link-black(href="/bandas/"+bands[2].slug)=bands[2].name.toUpperCase()
        tr
          td.pl3.align-top(style="width:15%")
            .day=bands[3].dia+"."
          td.align.top.pt3.pl0
            .h2.font-title
              span.white=bands[3].time
              span=" - " + bands[3].venue.toUpperCase()
            .h1.font-title
              a.link-black(href="/bandas/"+bands[3].slug)=bands[3].name.toUpperCase()
            .h2.font-title
              span.white=bands[4].time
              span=" - " + bands[4].venue.toUpperCase()
            .h1.font-title.mb2
              a.link-black(href="/bandas/"+bands[4].slug)=bands[4].name.toUpperCase()
        tr
          td.pl3.align-top(style="width:15%")
            .day=bands[6].dia+"."
          td.align.top.pt3.pl0
            .h2.font-title
              span.white=bands[5].time
              span=" - " + bands[5].venue.toUpperCase()
            .h1.font-title.mb2
              a.link-black(href="#"+bands[5].slug)=bands[5].name.toUpperCase()
            .h2.font-title
              span.white=bands[6].time
              span=" - " + bands[6].venue.toUpperCase()
            .h1.font-title
              a.link-black(href="#"+bands[6].slug)=bands[6].name.toUpperCase()
            .h2.font-title
              span.white=bands[7].time
              span=" - " + bands[7].venue.toUpperCase()
            .h1.font-title.mb2
              a.link-black(href="#"+bands[7].slug)=bands[7].name.toUpperCase()
            .h2.font-title
              span.white=bands[8].time
              span=" - " + bands[8].venue.toUpperCase()
            .h1.font-title.mb2
              a.link-black(href="#"+bands[8].slug)=bands[8].name.toUpperCase()

    //- section.bg-bbbf-blue.px4.py3
    //-   each band in bands
    //-     .sixteen-nine(id=band.slug).mb2.pt1
    //-       header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/bandas/" + band.banner +")")
    //-         //- img(src="/images/bandas/"+band.slug+"-label.png", height="250").absolute.top-4.left-minus-4
    //-     .p.font-text.p1 !{band.info}
    //-     .h2.relative.bold.white.font-title.pb3.mb3.border-bottom-dotted=band.time + " - " + band.venue.toUpperCase() + " - " + band.name.toUpperCase()
    //-       if band.free
    //-         if (band.dia == 2)
    //-           .block.h5.black.absolute.left-0.bottom-0.bold Espetáculo gratuito
    //-         else
    //-           .block.h5.black.absolute.left-0.bottom-0.bold Espetáculo gratuito
    //-       else
    //-         a.block.absolute.left-0.bottom-0.link-black.h5.bold(href="/bilhetes") Bilheteira
    //-       a.block.absolute.right-0.bottom-0.mt3.link-white.h5.bold(href="#")= __("Voltar ao Topo")

    include ./includes/footer.pug
