doctype html
html(lang="en")
  include ./includes/head.jade
  body.container.bg-black
    include ./includes/top-nav.jade

    section.bg-bbbf-blue.py3.px4
      .pr4
        img(src="/images/home-banner-logo.png")
      table.border-bottom-dotted.pb4(style="background-image: url(/images/bg-programa.png); background-repeat: no-repeat; background-position: 100% 35%")
        tr
          td.pl3.align-top(style="width:20%")
            img(src="/images/dia23.png")
          td.align.top.pt3.pl0
            .h4.font-title
              span.white=bands[0].time
              span=" - " + bands[0].venue.toUpperCase()
            .h3.font-title
              a.link-black(href="#"+bands[0].slug)=bands[0].name.toUpperCase()
        tr
          td.pl3.align-top(style="width:15%")
            img(src="/images/dia24.png")
          td.align.top.pt3.pl0
            .h4.font-title
              span.white=bands[1].time
              span=" - " + bands[1].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[1].slug)=bands[1].name.toUpperCase()
            .h4.font-title
              span.white=bands[2].time
              span=" - " + bands[2].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[2].slug)=bands[2].name.toUpperCase()
            .h4.font-title
              span.white=bands[3].time
              span=" - " + bands[3].venue.toUpperCase()
            .h3.font-title
              a.link-black(href="#"+bands[3].slug)=bands[3].name.toUpperCase()
            .h3.font-title
               a.link-black(href="#judy-blue-eyes")="Convidado Especial: Rui Veloso".toUpperCase()
        tr
          td.pl3.align-top(style="width:15%")
            img(src="/images/dia25.png")
          td.align.top.pt3.pl0
            .h4.font-title
              span.white=bands[4].time
              span=" - " + bands[4].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[4].slug)=bands[4].name.toUpperCase()
            .h4.font-title
              span.white=bands[5].time
              span=" - " + bands[5].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[5].slug)=bands[5].name.toUpperCase()
            .h4.font-title
              span.white=bands[6].time
              span=" - " + bands[6].venue.toUpperCase()
            .h3.font-title
              a.link-black(href="#"+bands[6].slug)=bands[6].name.toUpperCase()
        tr
          td.pl3.align-top(style="width:15%")
            img(src="/images/dia26.png")
          td.align.top.pt3.pl0
            .h4.font-title
              span.white=bands[7].time
              span=" - " + bands[7].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[7].slug)=bands[7].name.toUpperCase()
            .h4.font-title
              span.white=bands[8].time
              span=" - " + bands[8].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[8].slug)=bands[8].name.toUpperCase()
            .h4.font-title
              span.white=bands[9].time
              span=" - " + bands[9].venue.toUpperCase()
            .h3.font-title.mb2
              a.link-black(href="#"+bands[9].slug)=bands[9].name.toUpperCase()
            .h4.font-title
              span.white=bands[10].time
              span=" - " + bands[10].venue.toUpperCase()
            .h3.font-title
              a.link-black(href="#"+bands[10].slug)=bands[10].name.toUpperCase()

    section.bg-bbbf-blue.px4.py3
      each band in bands
        .sixteen-nine(id=band.slug).mb2.pt1
          header.content.center.px3.py1.white.bg-black.bg-cover(style="background-image: url(/images/bandas/" + band.banner +")")
            img(src="/images/bandas/"+band.slug+"-label.png", height="250").absolute.top-4.left-minus-4
        .p.justify.relative.font-text.p1.pb3.mb4.border-bottom-dotted
          !{band.info}

          a.block.absolute.right-0.bottom-0.mt3.link-white.h5.bold(href="#") Voltar ao Topo

    include ./includes/footer.jade
